/*
Personal site Marcos Pelaez profile Webdesigner
*/

/* General Settings */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Poppins;
    src: url('../sp-fonts/Poppins-Regular.ttf');
}

@font-face{
    font-family: PoppinsMedium;
    src: url('../sp-fonts/Poppins-Medium.ttf');
}

@font-face{
    font-family: PoppinsBold;
    src: url('../sp-fonts/Poppins-Bold.ttf');
}

body{ font-family: Poppins, sans-serif; font-size: 16px; }

/* Principal div box */
.principal {
    max-width: 940px;
    margin: 10px auto;
}

/* Hader of the site */
header{
    display: flex;
    border-bottom: 1px solid #e2e2e2;
}

.logo{
    flex-grow: 1;
}

.contact{ 
    flex-grow: 1;
    text-align: center;
    background-color: #f2f2f5;
    font-size: 1.5em;
}

.name{
    padding-top: 5%;
}
.email a:link, a:visited{
    color:rgb(136, 136, 136);
    text-decoration: none;
}

.email a:hover{
    color:rgb(167, 174, 238)
}

.img-logo{
    width: 150px;
}

/* Main box */
main{
    display: flex; 
    position: relative;
    width: 100%;   
    box-shadow: 2px 2px 2px 2px #eeeded;
}

.fundo{
    flex-grow: 1;
}

.fundo>img{
    position: relative;
    width: 100%;
}
.texto{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #eab56a;
}

.texto>h1{
    padding-top: 20px;
}

.texto>h2{
    padding-top: 20px;
}

.texto>p{
    font-size: 1.5625em;
    padding: 20px 0 20px 0;
}

/* Footer box */

footer{
    background-color: rgb(73, 73, 73);
    color: #ffffff;
    padding: 50px;
    text-align: center;
    font-size: 1.25em;
    border-bottom: 10px solid #eab56a;
}